# Local Terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# Terraform state files
**/*.tfstate
**/*.tfstate.*
**/terraform.tfstate.backup

# Terraform plan files
**/tfplan
**/*.tfplan

# Ansible
ansible/inventory.ini
ansible/*.retry

# Sensitive data
**/.env
**/*.pem
**/*.pub
**/terraform.tfvars

# General
.DS_Store
.idea/
*.swp
